<table>
    <tr>
        <th>Lp.</th>
        <th>Numer oferty</th>
        <th>Typ oferty</th>
        <th>Status oferty</th>
        <th>Status w bazie</th>
        <th>Ocenione przez</th>
        <th>Do usunięcia?</th>
    </tr>
    {{#each flatsList}}
        <tr>
            <td>{{flatsList.number}}</td>
            <td><a href="/rer/flats/{{flatsList.number}}">{{flatsList.offerId}}</a></td>
            <td>{{flatsList.offerType}}</td>
            <td>{{flatsList.offerStatus}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {{/each}}

</table>
