<div class="border-primary">

    <p><strong>Cena:</strong> {{ flat_data.price }}</p>
    <p><strong>Cena za m2:</strong> {{ flat_data.priceM2 }}</p>
    <p><strong>Powierzchnia:</strong> {{ flat_data.livingArea }} m2</p>
    <p><strong>Liczba pokoi:</strong> {{ flat_data.roomsNumber }}</p>
    <div style="text-align: justify">
        <p class="text-justify">{{ flat_data.description }}</p>
    </div>
</div>
<hr class="mt-0 mb-4">
